/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-inverse-primary: #6ddb9f;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed: #1a1c1c;
  --color-on-tertiary-container: #fcfcff;
  --color-tertiary-container: #007cae;
  --color-secondary: #5d5f5f;
  --color-inverse-surface: #2f3133;
  --color-primary: #006a41;
  --color-tertiary: #00628b;
  --color-primary-fixed-dim: #6ddb9f;
  --color-tertiary-fixed-dim: #85cfff;
  --color-on-primary-container: #f6fff5;
  --color-secondary-container: #dcdddd;
  --color-on-tertiary-fixed: #001e2e;
  --color-surface-tint: #006d43;
  --color-on-primary: #ffffff;
  --color-secondary-fixed: #e2e2e2;
  --color-outline: #6e7a70;
  --color-surface-variant: #e2e2e5;
  --color-error-container: #ffdad6;
  --color-outline-variant: #bdcabf;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #dadadc;
  --color-on-secondary: #ffffff;
  --color-primary-container: #008653;
  --color-secondary-fixed-dim: #c6c6c7;
  --color-surface: #f9f9fc;
  --color-on-secondary-fixed-variant: #454747;
  --color-surface-container: #eeeef0;
  --color-surface-container-highest: #e2e2e5;
  --color-surface-bright: #f9f9fc;
  --color-on-surface: #1a1c1e;
  --color-error: #ba1a1a;
  --color-on-tertiary-fixed-variant: #004c6c;
  --color-on-background: #1a1c1e;
  --color-on-primary-fixed: #002111;
  --color-on-secondary-container: #5f6161;
  --color-on-error-container: #93000a;
  --color-primary-fixed: #8af8b9;
  --color-surface-container-low: #f3f3f6;
  --color-surface-container-high: #e8e8ea;
  --color-on-primary-fixed-variant: #005231;
  --color-tertiary-fixed: #c7e7ff;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #3e4a41;
  --color-background: #f9f9fc;
  --color-inverse-on-surface: #f0f0f3;

  /* Custom Spacing */
  --spacing-xl: 32px;
  --spacing-unit: 4px;
  --spacing-lg: 24px;
  --spacing-margin-mobile: 16px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-xs: 4px;
  --spacing-gutter: 12px;

  /* Custom Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Custom Font Families */
  --font-headline-lg: var(--font-hanken);
  --font-body-lg: var(--font-hanken);
  --font-label-sm: var(--font-hanken);
  --font-label-lg: var(--font-hanken);
  --font-headline-lg-mobile: var(--font-hanken);
  --font-headline-md: var(--font-hanken);
  --font-body-md: var(--font-hanken);

  /* Custom Font Sizes */
  --font-size-headline-lg: 24px;
  --line-height-headline-lg: 32px;
  --font-weight-headline-lg: 700;

  --font-size-body-lg: 16px;
  --line-height-body-lg: 24px;
  --font-weight-body-lg: 400;

  --font-size-label-sm: 12px;
  --line-height-label-sm: 16px;
  --font-weight-label-sm: 500;

  --font-size-label-lg: 14px;
  --line-height-label-lg: 16px;
  --letter-spacing-label-lg: 0.1px;
  --font-weight-label-lg: 600;

  --font-size-headline-lg-mobile: 22px;
  --line-height-headline-lg-mobile: 28px;
  --font-weight-headline-lg-mobile: 700;

  --font-size-headline-md: 20px;
  --line-height-headline-md: 28px;
  --font-weight-headline-md: 600;

  --font-size-body-md: 14px;
  --line-height-body-md: 20px;
  --font-weight-body-md: 400;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Base styling for Material Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}